---
export const prerender = true;
import Layout from "../../layouts/Layout.astro";
import SiteHeader from "../../components/SiteHeader.astro";
import SiteFooter from "../../components/SiteFooter.astro";
import DevelopersUseCasePage from "../../components/use-cases/DevelopersUseCasePage.astro";
import { developersUseCase } from "../../data/developersUseCase";
---

<Layout
  title={developersUseCase.meta.title}
  description={developersUseCase.meta.description}
>
  <div class="flex min-h-screen flex-col">
    <SiteHeader path={Astro.url.pathname} />
    <DevelopersUseCasePage page={developersUseCase} />
    <SiteFooter />
  </div>
</Layout>
