---
export const prerender = true;
import Layout from "../layouts/Layout.astro";
---

<Layout title="Parle" description="Parle">
  <main class="grid min-h-screen place-items-center bg-white text-black">
    <h1 class="text-5xl font-medium tracking-tight">Parle</h1>
  </main>
</Layout>
